@tailwind base;
@tailwind components;
@tailwind utilities;

.compact {
  margin-left: 1.25rem;
  margin-right: 1.25rem;

  @media (min-width: 640px) {
    margin-left: 6rem;
    margin-right: 6rem;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
